<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <title>SMART CLASSROOM</title>
</head>
<body>
    <img src="{{ url_for('static', filename='images/c.jpg') }}" alt="logo" width="80px" />
    <div class="container">
        <div class="pilih menu">
            <h2>PILIH MENU</h2>
            <div class="menu">
                <div class="absen">
                    <a href="/submenu">ABSEN</a>
                </div>
                <div class="lampu">
                    <a href="/lampu">LAMPU</a>
                </div>
                <div class="kipas">
                    <a href="/kipas">KIPAS</a>
                </div>
                <div class="roll blind">
                    <a href="/roll_blind">ROLL BLIND</a>
                </div>
            </div>
        </div>

        <nav>
            <ul>
                <label for="check" class="checkbtn">
                    <div>
                        <a href="/">
                            <img src="{{ url_for('static', filename='images/logout.jpg') }}" id="menu" alt="menu" width="100px"/>
                        </a>
                    </div>
                </label><br>
            </ul>
        </nav>

    </div>
</body>
</html>
