<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/submenu.css') }}">
    <title>SMART CLASSROOM</title>
</head>

<body>
    <img src="{{ url_for('static', filename='images/c.img') }}" alt="logo" width="80px" />
    <div class="container">
        <div class="menu-container">
            <div class="menu-item Isi-Agenda-Guru">
                <a href="/input">Isi Agenda Guru</a>
            </div>

            <div class="menu-item Data-Kehadiran-Guru">
                <a href="/attendance_data">Data Kehadiran Guru</a>
            </div>
        </div>

        <div class="kotak">
            <a href="/menu">
                <p>BACK</p>
            </a>
        </div>
    </div>
</body>

</html>
